.team-bg {
    background-color: #F4EDE4;
}
.content h1 {
    color: var(--black);
    font-size: var(--fs-3);
    font-family: var(--font-fam_teams);
    font-weight: var(--fw-700);
    margin-bottom: 1.2rem;
}

.content p {
    color: var(--black);
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
}

.content i {
    display: block;
    font-size: 1.7rem;
    color: var(--black);
    line-height: 1.3;
    font-weight: 350;
    letter-spacing: 1.2;
    padding-bottom: 10px;
}

.content b {
    padding: 0 0;
}

.content :nth-child(2) > :nth-child(2) {
    font-weight: 500;
}

.team4 {
    border-radius: 0 150px 150px 0;
    width: 96%;
    position: relative;
}

.videoIcon {
    position: absolute;
    top: 34%;
    left: 40%;
    color: aqua;
    /* border:2px solid green; */
}

.videoIcon> :first-child {
    /* background-color: #F4EDE4; */
    font-size: 5rem !important;
    cursor: pointer;

}

.ho:hover .videoIcon> :first-child {
    color: #1264a3;
    transition: all .218s ease;
}
.disclamer{
    font-size: .8rem;
    font-weight: var(--fw-200);
    color:rgba(0, 0, 0, .6);
    font-weight: 500;

}

@media (max-width:575px) {
    .content h1 {
        font-size: 2rem !important;
    }

    .arrowHide {
        display: none;

    }
    .content i{
        line-height: 1.2;
        font-size: 1.4rem;
    }
    .content{
        padding: 25px 15px;
    }
}